services:
  postgres:
    image: postgres:16-alpine
    container_name: norven-postgres
    
    environment:
      POSTGRES_USER: username_here
      POSTGRES_PASSWORD: password_here
      POSTGRES_DB: database_name_here

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U username_here -d database_name_here"]
      interval: 5s
      timeout: 5s
      retries: 5
    
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: norven_backend

    ports:
      - "8000:8000"

    environment:
      DB_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/norven
      PRIMARY_ADMIN_PASSWORD: "SUA_SENHA_INICIAL_DO_ADMIN"

    depends_on:
      postgres:
        condition: service_healthy

    volumes:
      - .:/app

    command:
      [
        "uv",
        "run",
        "uvicorn",
        "desafio_fullstack_norven.main:app",
        "--host",
        "0.0.0.0",
        "--port",
        "8000",
        "--reload",
        "--app-dir",
        "src"
      ]

volumes:
  postgres_data: